.clients {
  display: flex;
  margin-left: -30px;
}

.main__clients-item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
}

.main__clients-link {
  display: flex;
  width: 172px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border var(--time) var(--main-function);
    &:hover, 
    &:focus{
    border: 1px solid var(--accent-color);
  }

}

.main__clients-icon {
  fill: #afb1b8;
  transition: fill var(--time) var(--main-function);
   .main__clients-link:hover &,
   .main__clients-link:focus & {
  fill: var(--accent-color);
  }
}



