.skills {
  display: flex;
  margin-left: -30px;
}

.main__skills-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.main__skills-box{
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 25px 0;
}

.main__skills-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main__skills-text {
  color: #757575;
}